html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.contenedor {
    width: 95%;
    max-width: 1350px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}

input[type="date"] {
    font-size: 1.5rem;
}

input[type="time"] {
    font-size: 1.5rem;
}

input[type="text"]{
    font-size: 1.5rem;
}

input[type="tel"]{
    font-size: 1.5rem;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/** Utilidades **/
.margin-top {
    margin-top: 4rem;
}
.margin-bottom {
    margin-bottom: 4rem;
}
.text-center {
    text-align: center;
}

/* Fondo **/
.fondo {
    background-color: #4E97D1;
}

/** Titulo **/
.titulo {
    color: white;
    font-size: 4rem;
}

/** Contenido **/
.contenido {
    background-color: white;
    padding: 4rem;
}

.titulo-pacientes {
    color: #65a7dd;
    font-size: 4rem;
    text-align: center;
}

.contenido__grid {
    display: flex;
    gap: 4rem;
    height: 75vh;
    overflow: hidden;
}

/** Formulario **/
.formulario {
    width: 50%;
    border: 1px solid #b5d1e7;
    padding: 2rem 2rem 4rem 2rem;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formulario__label {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.formulario__input {
    padding: 1.5rem;
}

.formulario__input::placeholder {
    font-size: 1.5rem;
}

.formulario__boton {
    background-color: #4E97D1;
    padding: 1rem 4rem 1rem 4rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: .5s;
}

.formulario__boton:hover {
    background-color: #30618a;
}

/** Alertas */

.alerta {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    padding: 1.5rem;
    margin: 0 10rem 4rem 10rem;
}

.alerta__error {
    background-color: rgb(216, 30, 30);
}

.alerta__exito {
    background-color: green;
}

/** Listado **/

.pacientes {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.listado__contenido {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    border: 1px solid gainsboro;
    padding: 2rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
}

.listado__titulo {
    color: #4E97D1;
}

.listado__texto {
    font-size: 1.6rem;
}


.listado__boton-eliminar {
    display: flex;
    padding: .5rem 3rem;
    align-items: center;
    gap: .5rem;
    border: none;
    min-width: 5rem;
    min-width: 15rem;
    background-color: rgb(216, 15, 15);
    color: white;
    font-weight: bold;
}

.listado__boton-eliminar:hover {
    background-color: rgb(170, 22, 22);
}

.listado__boton-editar {
    display: flex;
    padding: .5rem 3rem;
    margin-top: 1rem;
    border: none;
    min-width: 15rem;
    align-items: center;
    gap: .5rem;
    background-color: #4E97D1;
    color: white;
    font-weight: bold;
}

.listado__boton-editar:hover {
    background-color: #30618a;
}

.icono__boton-eliminar {
    max-width: 2.6rem;
    color: white;
}

.icono__boton-editar {
    max-width: 2.1rem;
    color: white;
}